.div1{
    background-color: gray;
    border-radius: 3px;
    position: relative;
    height: 100vh;
    width: 100vh;
}
.div2{
    background-color: lightblue;
    position: absolute;
    inset: auto -50px -50px auto;
    height: 30dvh;
    width: 30dvh;
}
.div3{
    background-color: rgb(159, 73, 126);
    position: absolute;
    inset: auto auto -80px -80px;
    height: 30dvh;
    width: 30dvh;
}